/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 71%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@media (max-width: 768px) {
  .container {
    width: 96%;
  }
}

@media (max-width: 767px) {
  .container {
    width: 92%;
  }
}

.header {
  background: #222222;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 75px;
}

.header__navigation {
  background-color: #FFFFFF;
  height: 765px;
  width: 232px;
  position: absolute;
  right: 140px;
  top: 75px;
  display: none;
}

.header__navigation a {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #5D5D5D;
}

.header__controls:hover .header__button-img {
  display: block;
}

.header__controls:hover .header__navigation {
  display: block;
}

.header__navigation:hover {
  display: block;
}

.header__button {
  background-color: transparent;
  border: none;
  margin: 0 34px 0 0;
  position: relative;
}

.header__person-link {
  margin: 0 34px 0 0;
}

.header__logo {
  margin: 0 10px 0 0;
}

.header__menu-title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  padding: 37px 0 4px 34px;
}

.header__menu-subtitle {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #F16D7F;
  padding: 20px 0 1px 33px;
}

.header__menu-product {
  padding: 11px 0 0 54px;
}

@media (max-width: 768px) {
  .header__logo {
    margin: 0 41px 0 16px;
  }
  .header__person-link {
    margin: 0 25px 0 25px;
  }
  .header__button {
    margin: 0 0 0 0;
  }
  .header__cart {
    margin: 0 16px 0 0;
  }
}

@media (max-width: 767px) {
  .header__logo {
    margin: 0 41px 0 16px;
  }
  .header__person-link {
    display: none;
  }
  .header__button {
    margin: 0 16px 0 0;
  }
  .header__cart {
    display: none;
  }
}

.brand {
  display: flex;
  margin: 0 0 63px;
}

.brand__image {
  width: 50%;
  height: auto;
}

@media (max-width: 767px) {
  .brand__image {
    display: none;
  }
}

.brand__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  position: relative;
}

@media (max-width: 768px) {
  .brand__title {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .brand__title {
    font-size: 38px;
    line-height: 46px;
    font-weight: 700;
    font-style: normal;
  }
}

.brand__title::before {
  content: "";
  width: 12px;
  height: 92px;
  background: #F16D7F;
  position: absolute;
  left: -18px;
  top: 5px;
}

.brand__title-wrapper {
  flex-grow: 1;
  background-color: #F1E4E6;
  display: flex;
  align-items: center;
  padding: 0 0 0 91px;
}

@media (max-width: 768px) {
  .brand__title-wrapper {
    padding: 0 0 0 69px;
  }
}

@media (max-width: 767px) {
  .brand__title-wrapper {
    padding: 0 0 0 83px;
    min-height: 363px;
  }
}

.brand__subtitle {
  font-size: 37px;
  line-height: 44px;
  font-weight: 700;
  font-style: normal;
  display: block;
}

@media (max-width: 768px) {
  .brand__subtitle {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .brand__subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

.brand__subtitle-pink {
  color: #F16D7F;
}

.offers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offers__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31%;
  min-height: 260px;
  background-color: #474040;
  background: cover;
  margin: 0 0 30px;
}

@media (max-width: 768px) {
  .offers__item {
    min-height: 167px;
  }
}

@media (max-width: 767px) {
  .offers__item {
    width: 100%;
    min-height: 248px;
  }
}

.offers__item--woman {
  background-image: url(../img/woman.jpg);
}

.offers__item--man {
  background-image: url(../img/bgman.jpg);
}

.offers__item--kids {
  background-image: url(../img/kids.jpg);
}

.offers__item--accesories {
  background-image: url(../img/accesories.jpg);
  width: 100%;
  margin: 0 0 97px;
  min-height: 180px;
}

@media (max-width: 768px) {
  .offers__item--accesories {
    min-height: 116px;
  }
}

@media (max-width: 767px) {
  .offers__item--accesories {
    min-height: 111px;
  }
}

.offers__item-text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.offers__item-head {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #F16D7F;
}

.offers__item-link {
  text-decoration: none;
}

.product__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  color: #222224;
  text-align: center;
}

.product__title-card {
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 24px 0 12px 18px;
}

.product__title-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #9F9F9F;
  margin: 0 0 48px;
}

.product__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 191px;
}

.product__item {
  height: 581px;
  width: 360px;
  margin: 0 0 30px;
}

.product__text {
  background-color: #E1E1E1;
  margin: -2px;
}

.product__desc {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #5D5D5D;
  padding: 0px 0 18px 18px;
}

.product__price {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  padding: 0px 0 18px 20px;
}

.product__box {
  position: relative;
}

.product__box:hover .product__img {
  display: block;
}

.product__box:hover .product__button {
  display: block;
}

.product__button {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  top: 179px;
  right: 105px;
  height: 43px;
  width: 138px;
  border-radius: 0px;
  background-color: Transparent;
  color: #FFFFFF;
  display: none;
}

.product__button::before {
  content: '';
  width: 32px;
  height: 29px;
  position: absolute;
  left: 2px;
  top: 4px;
  background-image: url(../img/cart.svg);
}

.product__button-browse {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  border: 1px solid #FF6A6A;
  color: #F16D7F;
  background-color: #FFFFFF;
  margin: 63px 0 0 74px;
  height: 47px;
  width: 211px;
}

@media (max-width: 768px) {
  .product__button-browse {
    margin: 72px 0 0 263px;
  }
}

.advantages__content-color {
  background-color: #222224;
}

.advantages__content {
  display: flex;
  justify-content: space-around;
  min-height: 341px;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .advantages__content {
    flex-direction: column;
    min-height: 610px;
  }
}

.advantages__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.advantages__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  padding: 28px 0 16px;
}

.advantages__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #9F9F9F;
}

.subscription__items {
  display: flex;
  justify-content: space-around;
  background-image: url(../img/subscribe.jpg);
  height: 448px;
  width: 85%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .subscription__items {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .subscription__items {
    width: 100%;
    flex-direction: column;
    min-height: 550px;
  }
}

.subscription__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subscription__texts {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
}

.subscription__img {
  margin: 0 0 30px;
}

.subscription__title {
  font-size: 24px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

.subscription__text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  padding: 0 0 32px 0;
  text-transform: uppercase;
}

.subscription__email {
  height: 43px;
  width: 256px;
  border-radius: 0px;
  margin: -5px;
  background-color: #E1E1E1;
  color: #5D5D5D;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.subscription__button {
  height: 49px;
  width: 100px;
  left: 1173px;
  top: 243px;
  border-radius: 0px;
  color: #FFFFFF;
  background-color: #F16D7F;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.subscription__texts {
  text-align: center;
  width: 330px;
}

.socials .socials__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 79px;
}

.socials .socials__copy {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
}

.socials .socials__color {
  background-color: #222224;
}

.registration {
  min-height: 675px;
  display: flex;
}

.registration__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

.registration__title-wrapper {
  background-color: #F1E4E6;
  min-height: 148px;
  display: flex;
  align-items: center;
}

.registration__list {
  padding: 64px 0 0 100px;
}

.registration__list-title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 0 22px;
}

.registration__list-text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
}

.registration__form {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  display: flex;
  flex-direction: column;
  padding: 64px 0 0 0px;
}

.registration__input {
  height: 45px;
  width: 360px;
  margin: 20px 0 0px 0;
  color: #9F9F9F;
  padding: 0px 0 0 10px;
}

.registration__button {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  height: 50px;
  width: 167px;
  left: 230px;
  top: 752px;
  color: #FFFFFF;
  background-color: #F16D7F;
}

.registration__radio {
  margin: 20px 0 20px 0;
  display: flex;
}

.registration__text {
  color: #9F9F9F;
  padding: 15px 0 39px 0;
}

.registration__items {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  margin: 21 0 0 0;
}

.registration__items-text {
  padding: 16px 0 0 40px;
  position: relative;
}

.registration__items-text:before {
  content: '';
  width: 20px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 22px;
  background-image: url(../img/check.png);
}

.shopping {
  min-height: 998px;
  display: flex;
}

.shopping__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

.shopping__title-wrapper {
  background-color: #F1E4E6;
  min-height: 148px;
  display: flex;
  align-items: center;
}

.shopping__cards {
  display: flex;
  flex-direction: column;
}

.shopping__card {
  min-height: 306px;
  width: 652px;
  display: flex;
  border: 1px solid #130202;
}

.shopping__card-title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  padding: 22px 0 42px 31px;
  width: 68%;
}

.shopping__card-item {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  color: #5D5D5D;
  padding: 0 0 6px 31px;
}

.shopping__card1 {
  margin: 96px 0 40px;
}

.shopping__card2 {
  margin: 40px 0 72px;
}

.shopping__buttons-card {
  display: flex;
  justify-content: space-between;
}

.shopping__button {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  padding: 17px 41px 16px 39px;
  background-color: #FFFFFF;
}

.shopping__card-price {
  color: #F16D7F;
}

.shipping .shipping__adress {
  display: flex;
  flex-direction: column;
  margin: 96px 0 106px 128px;
}

.shipping .shipping__title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  padding: 0 0 20px 0;
}

.shipping .shipping__input {
  height: 45px;
  width: 360px;
  margin: 0 0 20px 0;
  padding: 0px 0 0 16px;
  color: #9F9F9F;
}

.shipping .shipping__button {
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  padding: 9.5px 14px 12px 15px;
  width: 107px;
  background-color: #FFFFFF;
  color: #9F9F9F;
  border: 1px solid #9F9F9F;
}

.shipping .shipping__process {
  height: 214px;
  width: 360px;
  background-color: #F5F3F3;
  margin: 0 0 0 128px;
}

.shipping .shipping__text-sub {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  font-style: normal;
  text-align: right;
  padding: 39px 34px 12px 0;
}

.shipping .shipping__text-grand {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-align: right;
  padding: 0 34px 21px 0;
}

.shipping .shipping__button-checkout {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  background-color: #F16D7F;
  height: 50px;
  width: 273px;
  color: #E1E1E1;
  border: none;
  margin: 0 0 0 44px;
}

.shipping .shipiing__line {
  width: 273px;
  margin: 0 0 17px 44px;
}

.shipping .shipping__text-price {
  color: #F16D7F;
  font-weight: 700;
}

.arrivals__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

.arrivals__title-block {
  background-color: #F1E4E6;
  min-height: 148px;
  align-items: center;
  display: flex;
}

.arrivals__title-wrapper {
  display: flex;
  justify-content: space-between;
}

.arrivals__navbar {
  display: flex;
  list-style-type: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
}

.arrivals__link {
  text-decoration: none;
  padding: 0 3px 0 3px;
  color: #5D5D5D;
}

.arrivals__link:hover {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  color: #F16D7F;
  text-decoration: none;
}

.arrivals__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 128px 0;
}

.carousel {
  background-color: #F7F7F7;
  height: 777px;
}

.carousel__slide {
  padding: 11px 489px 42px 514px;
  width: 597px;
  height: 724px;
  position: relative;
}

.carousel__left {
  background-color: #9F9F9F;
  padding: 13px 13px 13px 13px;
}

.carousel__right {
  background-color: #9F9F9F;
  padding: 13px 13px 13px 13px;
}

.description__container {
  border: 1px solid #9F9F9F;
  min-height: 601px;
  position: relative;
  margin: -65px 0 129px 0;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description__title {
  color: #F16D7F;
  padding: 64px 0 0 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}

.description__band-red {
  width: 63px;
  border: 3px solid #EF5B70;
  border-radius: 5px;
}

.description__subtitle {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  padding: 0 0 48px 0;
}

.description__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  color: #9F9F9F;
  width: 554px;
  padding: 0 0 32px 0;
}

.description__price {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  color: #F16D7F;
  padding: 0 0 55px 0;
}

.description__band {
  border: 1px solid #9F9F9F;
  width: 641px;
}

.description__list {
  display: flex;
  padding: 55px 0 48px 0;
}

.description__item {
  padding: 0 42px 0 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #5D5D5D;
}

.description__button {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  padding: 14px 56px 13px 72px;
  background-color: #FFFFFF;
  border: 1px solid #F16D7F;
}

.catalog__list {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  grid-gap: 30px;
  margin: 0 0 188px 0;
}

.catalog__head {
  display: flex;
  padding: 51px 0 65px 0;
  align-items: center;
}

.catalog__filter {
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  font-style: normal;
  width: 40%;
  text-transform: uppercase;
}

.catalog__link {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  padding: 0 5px 0 5px;
  color: #5D5D5D;
}

.catalog__item {
  min-height: 581px;
  width: 360px;
}

.catalog__text {
  background-color: #E1E1E1;
  margin: -2px;
}

.catalog__title-card {
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 24px 0 12px 18px;
}

.catalog__desc {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #5D5D5D;
  padding: 0px 0 18px 18px;
}

.catalog__price {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  padding: 0px 0 18px 20px;
}
/*# sourceMappingURL=style.css.map */