.arrivals {

    &__title {
        @include font(24px, 29px, 400);
        color: $dark-pink;
        text-transform: uppercase;
    }

    &__title-block {
        background-color: $pink;
        min-height: 148px;
        align-items: center;
        display: flex;
    }

    &__title-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__navbar {
        display: flex;
        list-style-type: none;
        @include font(14px, 17px, 300);
        text-transform: uppercase;
    }

    &__link {
        text-decoration: none;
        padding: 0 3px 0 3px;
        color: $grey-dark;
    }

    &__link:hover {
        @include font(14px, 17px, 700);
        color: $red;
        text-decoration: none;
    }

    &__card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 0 128px 0;
    }
}