.carousel {
    background-color:$beige;
    height: 777px;

    &__slide {
        padding: 11px 489px 42px 514px;
        width: 597px;
        height: 724px;
        position: relative;
    }

    &__left {
        background-color: #9F9F9F;
        padding: 13px 13px 13px 13px;
    }

    &__right {
        background-color: #9F9F9F;
        padding: 13px 13px 13px 13px;
    }

    



}