
.header{ 
    background: $dark-blue;

    &__wrapper {
        @include flex-center-space-between();
        min-height: 75px;
    }
        
    &__navigation {
        background-color: $white;
        height: 765px;
        width: 232px;
        position: absolute;
        right: 140px;
        top: 75px;
        display: none;
    }
        
    &__navigation a {
        @include font(14px, 17px, 400);
        text-decoration: none;
        color: $grey-dark;
    }
        
    &__controls:hover .header__button-img{
        display: block;
    }
        
    &__controls:hover .header__navigation {
        display: block;
    }
        
    &__navigation:hover {
        display: block;
    }
    
    &__button {
        background-color: transparent;
        border: none;
        margin: 0 34px 0 0;
        position: relative;
    }
        
    &__person-link {
        margin: 0 34px 0 0;
    }
        
    &__logo {
        margin: 0 10px 0 0;
    }

    &__menu-title {
        @include font(14px, 17px, 700);
        text-transform: uppercase;
        padding: 37px 0 4px 34px;
    }

    &__menu-subtitle {
        @include font(14px, 17px, 400);
        text-transform: uppercase;
        color: $red;
        padding: 20px 0 1px 33px;
    }

    &__menu-product {
        padding: 11px 0 0 54px;
    }
}


@media (max-width: $max-tablet-width) {    
    .header {
        &__logo {
            margin: 0 41px 0 16px;
        }

        &__person-link {
            margin: 0 25px 0 25px;
        }

        &__button {
            margin: 0 0 0 0;
        }

        &__cart {
            margin: 0 16px 0 0;
        }

    }
}

@media (max-width: $max-mobile-width) {    
    .header {
        &__logo {
            margin: 0 41px 0 16px;
        }

        &__person-link {
            display: none;
        }

        &__button {
            margin: 0 16px 0 0;
        }

        &__cart {
            display: none;
        }

    }
}
    
