.list {
    
    &__text {
        @include font(24px, 29px, 300);
        margin: 21 0 0 0;
        
    }

    &__object {
        padding: 16px 0 0 40px;
        position: relative;
    }

    &__object:before {
        content: '';
        width: 20px;
        height: 16px;
        position: absolute;
        left: 0;
        top: 22px;
        background-image: url(../img/check.png);
    }
}